@model BLFront.Models.ViewModel.BookingViewModel

@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>
@using (Html.BeginForm())
{

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.Booking.adult, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Booking.adult, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Booking.adult, "", new { @class = "text-danger" })
    </div>
</div>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.Booking.child, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Booking.child, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Booking.child, "", new { @class = "text-danger" })
    </div>
</div>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.Booking.date, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Booking.date, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Booking.date, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</div>
}





